:root {--black: #000000;
    --white: #ffffff;
    --white-15: rgb(255 255 255 / 15%);
    --white-25: rgb(255 255 255 / 25%);
    --white-50: rgb(255 255 255 / 50%);
    --white-60: rgb(255 255 255 / 60%);
    --white-70: rgb(255 255 255 / 70%);
    --white-75: rgb(255 255 255 / 75%);
    --white-80: rgb(255 255 255 / 80%);
    --white-90: rgb(255 255 255 / 90%);
    --heading: #1D5A84;
    --body-text: #4D5052;
    --anchor: #1D5A84;
    --anchor-hover: #04344C;
    --sapphire: #53C4C9;
    --cerulean: #3F8DA5;
    --midnight: #04344C;
    --stone: #2A6472;
    --seafom: #9ED5DD;
    --sunshine: #EDD056;
    --aegean: #1D5A84;
    --raisin-black: #302135;
    --sunshine-80: rgb(237 208 86 / 80%);
    --sunshine-60: rgb(237 208 86 / 60%);
    --sunshine-50: rgb(237 208 86 / 50%);
    --sunshine-40: rgb(237 208 86 / 40%);
    --sunshine-25: rgb(237 208 86 / 25%);
    --aegean-90: rgb(29 90 132 / 90%);
    --aegean-80: rgb(29 90 132 / 80%);
    --aegean-85: rgb(29 90 132 / 85%);
    --aegean-75: rgb(29 90 132 / 75%);
    --aegean-50: rgb(29 90 132 / 50%);
    --aegean-25: rgb(29 90 132 / 25%);
    --midnight-75: rgb(4 52 76 / 75%);
    --midnight-50: rgb(4 52 76 / 50%);
    --sapphire-25: rgb(83 196 201 / 25%); 
    --sapphire-50: rgb(83 196 201 / 50%);
    --sapphire-10:  rgb(83 196 201 / 10%);
    --sapphire-60: rgba(83, 196, 201, 60%);
    --sapphire-70: rgba(83, 196, 201, 70%);
    --sapphire-80: rgba(83, 196, 201, 80%);
    --sapphire-90: rgba(83, 196, 201, 90%);
    --stone-85  :rgb(42 100 114 / 85%);
    --cerulean-50: rgb(63 141 165 / 50%);
    --cerulean-85: rgb(63 141 165 / 85%);
    --cerulean-25: rgb(63 141 165 / 25%);
    --seafom-10: rgb(158 213 221 / 10%);
    --seafom-25 : rgb(158 213 221 / 25%);
    --seafom-40 : rgb(158 213 221 / 40%);
    --seafom-50 : rgb(158 213 221 / 50%);
    --seafom-60: rgb(158 213 221 / 60%);
    --seafom-70 : rgb(158 213 221 / 70%);
    --seafom-80 : rgb(158 213 221 / 80%);
    --seafom-90 : rgb(158 213 221 / 90%);
    --input:rgba(83, 196, 201, 0.10);
    --input-focus:rgba(237, 208, 86, 0.15);
    --aeganbg: rgba(4, 52, 76, 0.75);
}