html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {border: 0; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; margin: 0; outline: 0; padding: 0; vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {display: block;}
audio, canvas, video {display: inline-block; max-width: 100%;}
html {overflow-y: scroll; overflow-x: hidden; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; box-sizing: border-box; scroll-behavior: smooth;}
a {color: var(--anchor); text-decoration: none; transition-duration: .75s; transition-property: all; transition-timing-function: cubic-bezier(.075,.82,.165,1);}
a:focus {outline: 0;}
a:hover, a:active {outline: 0;}
a:hover {color: var(--anchor-hover);}
h1, h2, h3, h4, h5, h6 {clear: both; margin: 0 0 23px; color: var(--heading); font-weight: 700;}
h1 {font-size: 4rem; line-height: 125%; margin-bottom: 24px;}
h2 {font-size: 3rem; line-height: 125%; margin-bottom: 20px;}
h3 {font-size: 2rem; line-height: 125%; margin-bottom: 20px;}
h4 {font-size: 1.5rem; line-height: 125%; margin-bottom: 20px;}
h5 {font-size: 1.25rem; line-height: 150%; margin-bottom: 20px;}
h6 {font-size: 1.125rem; line-height: 125%; margin-bottom: 20px;}
address {margin-bottom: 9px;}
abbr[title] {border-bottom: 1px dotted #2b2b2b; cursor: help;}
b, strong {font-weight: 700;}
cite, dfn, em, i {font-style: italic;}
mark, ins {background: transparent; text-decoration: none; color: inherit;}
p {margin-bottom:20px;}
p:last-child {margin-bottom: 0;}
code, kbd, tt, var, samp, pre {font-size: 15px; -webkit-hyphens: none; -moz-hyphens: none; -ms-hyphens: none; hyphens: none; line-height: 1.6;}
pre {border: 1px solid rgba(0, 0, 0, 0.1); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-bottom: 24px; max-width: 100%; overflow: auto; padding: 12px; white-space: pre; white-space: pre-wrap; word-wrap: break-word;}
blockquote, q {-webkit-hyphens: none; -moz-hyphens: none; -ms-hyphens: none; hyphens: none; quotes: none;}
blockquote {padding:0 0 0 79px; position: relative; margin:46px 0 23px; overflow: hidden;}
blockquote p {font-size: 1.5rem; line-height: 175%; color: var(--midnight); margin-bottom: 20px; font-weight: 300; position: relative;}
blockquote p strong {font-weight: 700; color: var(--cerulean);}
blockquote:before {content: "" ; width: 39px; height: 100vh;  background:repeating-linear-gradient(90deg, var(--seafom), var(--seafom) 5px, transparent 5px, transparent 11px, var(--seafom) 11px,  var(--seafom) 15px,  transparent 15px, transparent 21px,  var(--seafom) 21px, var(--seafom) 24px, transparent 24px, transparent 30px, var(--seafom) 30px,  var(--seafom) 32px, transparent 32px,  transparent 38px,  var(--seafom) 38px, var(--seafom) 39px,  transparent 39px, transparent 45px); background-size: 39px 100%; background-repeat: no-repeat;  display: block; position: absolute; top: 0; left: 0;}

small {font-size: small;}
big {font-size: 125%;}
sup, sub {font-size: 10px; letter-spacing: -.18px; height: 0; line-height: 0; position: relative; vertical-align: baseline;}
sup {bottom: 1ex;}
sub {top: 0;}
dl {margin-bottom: 24px;}
dd {margin-bottom: 24px;}
ul {list-style: none; margin:-1px 0 28px 20px;}
ul > li {counter-increment: li; position: relative; margin-bottom: 4px;}
ul > li:before {content: ""; width: 8px; height: 8px; display: block; position: absolute; top:9px; left: -20px; background-color: var(--sapphire); border-radius: 50%;}
li > ul {margin: 25px 0 26px 40px;}
ol {counter-reset: section; list-style: none; margin:-1px 0 28px 33px;}
ol > li {counter-increment: li; position: relative; margin-bottom:4px;}
ol > li:before {counter-increment: section; content: counter(section, decimal) ""; left: -33px; top:3px; position: absolute; line-height: 22px; font-size: 0.875rem; min-width: 20px; text-align: center; border-radius: 50%; background-color: var(--cerulean); color: var(--white); font-weight: 700; height: 20px;}
li > ol {margin: 25px 0 26px 40px;}
img {-ms-interpolation-mode: bicubic; border: 0; vertical-align: middle; max-width: 100%; height: auto;}
figure {margin: 0;}
fieldset {border: 1px solid rgba(0, 0, 0, 0.1); margin: 0 0 24px; padding: 11px 12px 0;}
legend {white-space: normal;}
button, input, select, textarea {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-size: 100%; margin: 0; max-width: 100%; vertical-align: baseline;}
button, input {line-height: normal;}
input, textarea {background-image: -webkit-linear-gradient(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0));}
button, html input[type="button"], input[type="reset"], input[type="submit"] {-webkit-appearance: button; cursor: pointer;}
button[disabled], input[disabled] {cursor: default;}
input[type="checkbox"], input[type="radio"] {padding: 0;}

input[type="search"] {border: none;  background: var(--white); color: var(--grey); text-transform: capitalize; font-size:1rem; text-transform: none; font-weight: bold; padding: 20px 47px 20px 16px; appearance: none; -moz-appearance: none; -webkit-appearance: none;}
input[type="search"]::placeholder{color: var(--grey)!important; font-size: 1rem; text-transform: none; letter-spacing: -0.1px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
input[type="search"]:-moz-placeholder {color: var(--grey)!important; font-size: 1rem; text-transform: none; letter-spacing: -0.1px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
input[type="search"]::-moz-placeholder {color: var(--grey)!important; font-size: 1rem; text-transform: none; letter-spacing: -0.1px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
input[type="search"]:-ms-input-placeholder {color: var(--grey)!important; font-size: 1rem; text-transform: none; letter-spacing: -0.1px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {display: none;}
input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}

.search-form .form-field{position: relative; margin-bottom: 24px;}

button::-moz-focus-inner, input::-moz-focus-inner {border: 0; padding: 0;}
textarea {overflow: auto; vertical-align: top; min-height: 128px; border-radius: 26px;}

/*-- table --*/
table, th, td {border:0 none; letter-spacing: normal; color: var(--heading);}
table {border-collapse: separate; border-spacing: 0; border-width: 1px; margin:50px 0; width: 100%;}
table tbody tr td:first-child {padding-left: 0; text-align: left; width:19.8%; font-weight:bold; color: var(--sapphire);}
table thead tr th:first-child {text-align: left; padding-left: 0;}
table tbody img {margin: 0 auto;}
caption, th, td {text-align: left;}
th {font-weight: bold; border-width: 0; padding:16px 7px 16px; text-align: center; border-bottom: solid 1px rgba(0, 58, 85, 0.13); color: var(--heading);}
td {border-width: 0; padding:21px 18px 21px; text-align: center; border-bottom: solid 1px rgba(0, 58, 85, 0.13);}
th:first-child{text-align: left;}
tr:last-child td{border-bottom: 0;}
/*-- table --*/

caption, th, td {text-align: center;}
del {color: #231f20;}
hr {display: block; background-image: radial-gradient(circle at 1px, var(--green) 1.25px, rgba(255,255,255,0) 1px); background-position: 0 0;
background-size: 8px 2px; background-repeat: repeat-x; height: 2px; width: 100%; vertical-align: middle; margin: 81px 0; border: 0 none;}
::selection {background-color: #231f20; color: #fff;}
::-moz-selection {background-color: #231f20; color: #fff;}


input, textarea {outline: 0; width: 100%; font-size: 1rem; line-height: 24px; background: var(--input); box-shadow: none; padding: 15px 27px 17px 27px; vertical-align: middle; font-family:"itc-avant-garde-gothic-pro", sans-serif; font-weight: bold; height: auto; transition: all .5s ease-in-out; -webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; border: none; border-bottom: 1px solid var(--blacktext); border-radius: 0;}
select {padding: 12px 46px 13px 12px; outline: 0; width: 100%; font-size: 1rem; line-height: 24px; background: var(--input); box-shadow: none; vertical-align: middle; font-family:"itc-avant-garde-gothic-pro", sans-serif; font-weight: bold; height: auto; transition: all .5s ease-in-out; -webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; border: none; border-bottom: 1px solid var(--blacktext); border-radius: 0; min-height: 52px;}
textarea {width: 100%; resize: none; height: 118px;}
input:focus, textarea:focus {outline: 0;}
input[type="button"], input[type="reset"], input[type="submit"] {display: inline-block; font-size: 14px; line-height: normal; padding: 17px 35px 16px 36px; vertical-align: middle; cursor: pointer; border: none; border-radius: 0; background-color: var(--anchor); font-weight: 700; letter-spacing: normal; position: relative; transition: all .5s linear; -webkit-transition: all .5s linear; -moz-transition: all .5s linear; text-transform: uppercase; text-align: center; color: #FFF; font-family:"itc-avant-garde-gothic-pro", sans-serif;}
input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {background-color: var(--black); color: var(--white);}
input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active {outline: none;}
.search-field {width: 100%;}
.search-submit {display: none;} 

/* Default */
button, .button  {display: inline-block; font-size:1.125rem; font-weight: 700; line-height: 100%; padding:15px 16px 11px 16px; vertical-align: middle; cursor: pointer; border:2px solid transparent; background-color: var(--cerulean); position: relative; transition: all .35s ease-in-out; -webkit-transition: all .35s ease-in-out; -moz-transition: all .35s ease-in-out; text-align: center; color: var(--white); font-family:"itc-avant-garde-gothic-pro", sans-serif; text-decoration: none; overflow: hidden; z-index: 1; border-radius: 300px; outline: 4px solid transparent; box-sizing: border-box;}
button:hover, .button:hover {color: var(--midnight); background-color: var(--sunshine); outline: 4px solid rgba(237, 208, 86, 0.50);}
button:focus, .button:focus, button:active, .button:active {background-color: var(--cerulean); color: var(--white);}

/* Default Reverse */
button.reverse, .button.reverse {background-color:var(--white); color: var(--aegean);}
button.reverse:hover, .button.reverse:hover {color: var(--midnight); background-color: var(--sunshine); outline: 4px solid rgba(237, 208, 86, 0.50);}
button.reverse:focus, .button.reverse:focus, button.reverse:active, .button.reverse:active {background-color:var(--white); color: var(--aegean);}


/* Hollow */
button.hollow, .button.hollow {background-color:transparent; border: 2px solid var(--cerulean); color: var(--midnight);}
button.hollow:hover, .button.hollow:hover {color: var(--midnight); background-color:transparent; border: 2px solid var(--sapphire); outline: 2px solid var(--sapphire);}
button.hollow:focus, .button.hollow:focus, button.hollow:active, .button.hollow:active {background-color:transparent; border: 2px solid var(--cerulean); color: var(--midnight);}

/* Hollow Reverse*/
button.hollow.reverse, .button.hollow.reverse {background-color:transparent!important; border: 2px solid var(--sapphire); color: var(--white)!important;}
button.hollow.reverse:hover, .button.hollow.reverse:hover {color: var(--white); background-color:transparent; border: 2px solid var(--sunshine); outline: 2px solid var(--sunshine);}
button.hollow.reverse:focus, .button.hollow.reverse:focus, button.hollow.reverse:active, .button.hollow.reverse:active {background-color:transparent; border: 2px solid var(--sapphire); color: var(--white);}


/* Subtle */
button.subtle, .button.subtle  {background-color:var(--seafom); color: var(--midnight);}
button.subtle:hover, .button.subtle:hover {color: var(--midnight); background-color:rgba(237, 208, 86, 0.50); outline: 4px solid rgba(237, 208, 86, 0.25);}
button.subtle:focus, .button.subtle:focus, button.subtle:active, .button.subtle:active {background-color: var(--seafom); color: var(--midnight);}


input[type="submit"] {background-image: url("../images/search-icon.svg") !important; background-repeat: no-repeat !important; position: absolute; right:16px; top:0; bottom: 0; padding: 0 !important; width: 24px; height: 24px; margin: auto; background-color: transparent !important; border: 0 none; border-radius: 0; z-index: 1;}


::-webkit-input-placeholder {color: var(--midnight)!important; font-family:"itc-avant-garde-gothic-pro", sans-serif; opacity: 1!important; font-size: 1rem!important; overflow: visible;}
:-moz-placeholder {color: var(--midnight)!important; font-family:"itc-avant-garde-gothic-pro", sans-serif; opacity: 1!important; font-size: 1rem!important; overflow: visible;}
::-moz-placeholder {color: var(--midnight)!important; font-family:"itc-avant-garde-gothic-pro", sans-serif; opacity: 1!important; font-size:1rem!important; overflow: visible;}
:-ms-input-placeholder {color: var(--midnight)!important; font-family:"itc-avant-garde-gothic-pro", sans-serif; opacity: 1!important; font-size:1rem!important; overflow: visible;}

/*
input:focus::-webkit-input-placeholder{color: var(--sapphire);}
input:focus:-moz-placeholder{color: var(--sapphire);}
input:focus::-moz-placeholder{color: var(--sapphire);}
input:focus::-ms-input-placeholder{color: var(--sapphire);}
*/

embed, iframe, object, video {margin-bottom: 7px; max-width: 100%; border-radius: 0;}
p > embed, p > iframe, p > object, span > embed, span > iframe, span > object {margin-bottom: 0;}
.alignleft {float: left;}
.alignright {float: right;}
.aligncenter {display: block; margin-left: auto; margin-right: auto; text-align: center;}
blockquote.alignleft, figure.wp-caption.alignleft, img.alignleft {margin:6px 47px 38px 0;}
.wp-caption.alignleft {margin: 5px 55px 37px 0;}
blockquote.alignright, figure.wp-caption.alignright, img.alignright {margin:6px 0 38px 47px;}
.wp-caption.alignright {margin: 7px 0 37px 55px;}
blockquote.aligncenter, img.aligncenter, .wp-caption.aligncenter {margin-top:37px; margin-bottom:38px;}
img.alignnone {margin:37px 0 38px; display: block; clear: both;}
.hide {display: none;}
.bypostauthor > article .fn:before, .comment-edit-link:before, .comment-reply-link:before, .comment-reply-login:before, .comment-reply-title small a:before, .contributor-posts-link:before, .menu-toggle:before, .search-toggle:before, .slider-direction-nav a:before, .widget_twentyfourteen_ephemera .widget-title:before {-webkit-font-smoothing: antialiased; display: inline-block; font: normal 16px/1 Genericons; text-decoration: inherit; vertical-align: text-bottom;}
.comment-form label {display: block;}
.comment-form input[type="text"], .comment-form input[type="email"], .comment-form input[type="url"] {width: 100%;}
.clearfix {clear: both;}
* {box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden;}


.flex {display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; flex-wrap: wrap; width: 100%;}
.flex-vcenter {-webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center;}
.flex-content-center {-ms-justify-content: center; -moz-justify-content: center; -webkit-justify-content: center; justify-content: center;}
.flex-center {-webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; -ms-justify-content: center; -moz-justify-content: center; -webkit-justify-content: center; justify-content: center;}
.flex-nowrap {flex-wrap: nowrap;}
.flexend {display: flex; flex-wrap: wrap; justify-content: flex-end;}
.table {display: table; width: 100%; height: 100%;}
.table-cell {display: table-cell; vertical-align: middle;}
.grid {display: grid; display: -moz-grid; display: -ms-grid;}



@media only screen and (max-width: 767px) and (min-width: 200px) {
    ol > li::before {line-height: 24px;}
    blockquote {padding: 87px 0 0 0;}
    blockquote p {font-size: 1.25rem;}
    blockquote::before {width: 100vw; height: 56px; background: repeating-linear-gradient(0deg, var(--sapphire), var(--sapphire) 5px, transparent 5px, 
  transparent 13px, var(--sapphire) 13px, var(--sapphire) 17px, transparent 17px, transparent 25px, var(--sapphire) 25px, var(--sapphire) 28px, transparent 28px, 
  transparent 36px, var(--sapphire) 36px, var(--sapphire) 38px, transparent 38px, transparent 46px, var(--sapphire) 46px, var(--sapphire) 47px, transparent 47px, 
  transparent 55px); top: 0;}
}